backend-oscars/src/main/resources/xsd/oscars.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://jellyone.com/oscars"
           targetNamespace="http://jellyone.com/oscars"
           elementFormDefault="qualified">


    <xs:complexType name="Person">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="birthday" type="xs:string" minOccurs="0"/>
            <xs:element name="height" type="xs:double" minOccurs="0"/>
            <xs:element name="weight" type="xs:int" minOccurs="0"/>
            <xs:element name="passportID" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="Coordinates">
        <xs:sequence>
            <xs:element name="x" type="xs:int" minOccurs="0"/>
            <xs:element name="y" type="xs:double" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="Award">
        <xs:sequence>
            <xs:element name="awardId" type="xs:int"/>
            <xs:element name="date" type="xs:string" minOccurs="0"/>
            <xs:element name="category" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="Movie">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
            <xs:element name="coordinates" type="tns:Coordinates" minOccurs="0"/>

            <xs:element name="creationDate" type="xs:string" minOccurs="0"/>
            <xs:element name="oscarsCount" type="xs:int" minOccurs="0"/>
            <xs:element name="goldenPalmCount" type="xs:int" minOccurs="0"/>

            <xs:element name="budget" type="xs:string" minOccurs="0"/>

            <xs:element name="genre" type="xs:string" minOccurs="0"/>
            <xs:element name="screenwriter" type="tns:Person" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="MovieUpdateResponse">
        <xs:sequence>
            <xs:element name="updatedCount" type="xs:int" minOccurs="0"/>

            <xs:element name="movie" type="tns:Movie" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>



    <xs:complexType name="GetOscarLosersRequest">
        <xs:sequence/>
    </xs:complexType>

    <xs:complexType name="GetOscarLosersResponse">
        <xs:sequence>

            <xs:element name="person" type="tns:Person" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>




    <xs:complexType name="HonorMoviesByLengthRequest">
        <xs:sequence>
            <xs:element name="minLength" type="xs:double"/>
            <xs:element name="oscarsToAdd" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HonorMoviesByLengthResponse">
        <xs:sequence>
            <xs:element name="updateResult" type="tns:MovieUpdateResponse" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>




    <xs:complexType name="HonorMoviesWithFewOscarsRequest">
        <xs:sequence>
            <xs:element name="maxOscars" type="xs:int"/>
            <xs:element name="oscarsToAdd" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HonorMoviesWithFewOscarsResponse">
        <xs:sequence>
            <xs:element name="updateResult" type="tns:MovieUpdateResponse" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>



    <xs:complexType name="GetOscarsByMovieRequest">
        <xs:sequence>
            <xs:element name="movieId" type="xs:long"/>

            <xs:element name="page" type="xs:int" minOccurs="0" default="1"/>
            <xs:element name="size" type="xs:int" minOccurs="0" default="20"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GetOscarsByMovieResponse">
        <xs:sequence>

            <xs:element name="award" type="tns:Award" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>




    <xs:complexType name="AddOscarsRequest">
        <xs:sequence>
            <xs:element name="movieId" type="xs:long"/>
            <xs:element name="oscarsToAdd" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AddOscarsResponse">
        <xs:sequence>
            <xs:element name="updateResult" type="tns:MovieUpdateResponse" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>



    <xs:complexType name="DeleteOscarsByMovieRequest">
        <xs:sequence>
            <xs:element name="movieId" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DeleteOscarsByMovieResponse">
        <xs:sequence>
            <xs:element name="deleted" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>


    <xs:element name="getOscarLosersRequest" type="tns:GetOscarLosersRequest"/>
    <xs:element name="getOscarLosersResponse" type="tns:GetOscarLosersResponse"/>


    <xs:element name="honorMoviesByLengthRequest" type="tns:HonorMoviesByLengthRequest"/>
    <xs:element name="honorMoviesByLengthResponse" type="tns:HonorMoviesByLengthResponse"/>


    <xs:element name="honorMoviesWithFewOscarsRequest" type="tns:HonorMoviesWithFewOscarsRequest"/>
    <xs:element name="honorMoviesWithFewOscarsResponse" type="tns:HonorMoviesWithFewOscarsResponse"/>

    <xs:element name="getOscarsByMovieRequest" type="tns:GetOscarsByMovieRequest"/>
    <xs:element name="getOscarsByMovieResponse" type="tns:GetOscarsByMovieResponse"/>


    <xs:element name="addOscarsRequest" type="tns:AddOscarsRequest"/>
    <xs:element name="addOscarsResponse" type="tns:AddOscarsResponse"/>


    <xs:element name="deleteOscarsByMovieRequest" type="tns:DeleteOscarsByMovieRequest"/>
    <xs:element name="deleteOscarsByMovieResponse" type="tns:DeleteOscarsByMovieResponse"/>

</xs:schema>
